doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title PwC - D&A [Lovelace]
    // Bootstrap Core CSS
    link(href='js/bootstrap/bootstrap.min.css', rel='stylesheet')
    // Custom CSS
    link(href='css/sb-admin.css', rel='stylesheet')
    // Custom Fonts
    link(href='font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    style(type='text/css').
      #map_realtime{
      width:100%;
      height: 600px;
      }
  body
    #wrapper
      // Navigation
      nav#nav_navigation.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='../../') Lovelace
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-bell
              b.caret
            ul.dropdown-menu.alert-dropdown
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-default Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-primary Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-success Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-info Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-warning Alert Badge
              li
                a(href='#')
                  | Alert Name 
                  span.label.label-danger Alert Badge
              li.divider
              li
                a(href='#') View All
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              |  Leonel Castañeda 
              b.caret
            ul.dropdown-menu
              li
                a(href='#')
                  i.fa.fa-fw.fa-user
                  |  Profile
              li
                a(href='#')
                  i.fa.fa-fw.fa-envelope
                  |  Inbox
              li
                a(href='#')
                  i.fa.fa-fw.fa-gear
                  |  Settings
              li.divider
              li
                a(href='#')
                  i.fa.fa-fw.fa-power-off
                  |  Log Out
        // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.side-nav
            li
              a(href='../../')
                i.fa.fa-fw.fa-dashboard
                |  Dashboard
            li
              a(href='../map')
                i.fa.fa-fw.fa-globe
                |  Mapa
            li.active
              a(href='')
                i.fa.fa-fw.fa-car
                |  Automóviles
        // /.navbar-collapse
      #page-wrapper
        .container-fluid
          // Page Heading
          .row
            .col-lg-12
              h2
                | Automóviles.
                hr
          // /.row
          #panelContainer.content
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // Utils
    // jQuery
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap/bootstrap.min.js')
    // Notifications
    script(src='js/plugins/notify.min.js')
    // Socket
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    script(src='js/socketTrips.js')
    script(src='js/trips.js')
